RewriteEngine On
RewriteBase /wp-content/mu-plugins/mith-research-explorer-data/

RewriteRule ^projects.json plugin.php?action=projects
RewriteRule ^topics.json plugin.php?action=topics
RewriteRule ^types.json plugin.php?action=types
RewriteRule ^people.json plugin.php?action=people
